/* styles for geeoh */

html, body { height: 100%; width: 100%; margin: 0; }

table 
{
  border-collapse:collapse;
}

table, th, td
{
  box-sizing: border-box;
}

#tool-box
{
  // width: 100%;
}

#th-show
{
  // background: url("ui-icon-gear");
}

.draggable-box
{
  background: white;
  opacity: 0.8;
}

.tab-pref, .tr-pref, .td-pref
{
  border: 0;
}

.td-pref-sub td
{
  width: 40%;
  font-size:80%;
}

.td-pref-left
{
  padding-left: 24px;
}

#elements-tbody tr
{
  border: 2px solid red;
}

#elements-thead,
#expressions-thead
{
  display: block;
}

#elements-tbody,
#expressions-tbody
{
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

#elements-box,
#elements-box table,
#elements-box tr,
#elements-box td,
#expressions-box,
#expressions-box table,
#expressions-box tr,
#expressions-box td,
#comment-box,
#comment-box table,
#comment-box th
#comment-box tr
#comment-box td
{
  border: 2px solid black;
}

// #elements-box td,
// #expressions-box td
// {
//   border: 1px solid black;
// }

.xymm
{
  float: left;
  margin-right: .3em;
  // foreground: red;
  background: red;
}

.element-selected
{
  background: #4f4;
}

.waiting {
  cursor: progress;
}

#comment-box
{
  /* float:left; */
  position:absolute;
  top:5%;
  left:5%;
}

#elements-box
{
  /* float:left; */
  position:absolute;
  top:30%;
  left:10%;
}

#expressions-box
{
  /* float:left; */
  position:absolute;
  top:70%;
  left:10%;
}

#canvas-center
{
  position: relative;
  /* float:left; */
  // width: 100%;
  // height: 70%;
  padding: 12px;
}

#geeoh-canvas
{
  // width: 90%;
  // height: 70%;
  padding: 0px;
}

#version
{
  font-size:small;
}

// .ui-tabs-nav li { font-size: 8pt; }
// .my-tab { font-size: 8pt; }
.my-tab li { font-size: 80%; }

#tabs-local-server {
  position: relative;
  padding-left: 6.5em;
}
#tabs-local-server .ui-tabs-nav {
  position: absolute;
  left: 0.25em;
  top: 0.25em;
  bottom: 0.25em;
  width: 6em;
  padding: 0.2em 0 0.2em 0.2em;
}
#tabs-local-server .ui-tabs-nav li {
  font-size: 80%;
  right: 1px;
  width: 100%;
  border-right: none;
  border-bottom-width: 1px !important;
  border-radius: 4px 0px 0px 4px;
  overflow: hidden;
}
#tabs-local-server .ui-tabs-nav li.ui-tabs-selected {
  border-right: 1px solid transparent;
}
#tabs-local-server li a {
  float: right;
  width: 100%;
  text-align: right;
}

#tab-local, #tr-local, #td-json-text {
  width: 100%;
}

#td-json-text {
  padding: 6px;
}

#json-text {
  width: 90%;
  height: 90%;
  // padding: 12px;
}

#data-tree {
  background: #e0dfdf;
}

#tbody-data  td {
  padding-left: 6px;
  padding-right: 6px;
}