/* styles for geeoh */

.tab-pref, .tr-pref, .td-pref
{
  border: 0px;
}

/* #elements */
table, th, td
{
  border: 2px solid black;
}

.xymm
{
  float: left;
  margin-right: .3em;
  // foreground: red;
  background: red;
}

.element-selected
{
  background: #4f4;
}

#elements-box
{
  /* float:left; */
  position:absolute;
  top:50%;
  left:10%;
}

#expressions-box
{
  /* float:left; */
  position:absolute;
  top:70%;
  left:10%;
}

#canvas-center
{
  /* float:left; */
  padding: 12px;
}