/* styles for geeoh */

html, body { height: 100%; width: 100%; margin: 0; }

table 
{
  border-collapse:collapse;
}

#tool-box
{
  // width: 100%;
}

#th-show
{
  // background: url("ui-icon-gear");
}

.draggable-box
{
  background: white;
  opacity: 0.6;
}

.tab-pref, .tr-pref, .td-pref
{
  border: 0;
}

.td-pref-sub td
{
  width: 40%;
  font-size:80%;
}

.td-pref-left
{
  padding-left: 24px;
}

#elements-tbody tr
{
  border: 2px solid red;
}

#elements-box,
#elements-box table,
#elements-box tr,
#elements-box td,
#expressions-box,
#expressions-box table,
#expressions-box tr,
#expressions-box td
{
  border: 2px solid black;
}

// #elements-box td,
// #expressions-box td
// {
//   border: 1px solid black;
// }

.xymm
{
  float: left;
  margin-right: .3em;
  // foreground: red;
  background: red;
}

.element-selected
{
  background: #4f4;
}

#elements-box
{
  /* float:left; */
  position:absolute;
  top:50%;
  left:10%;
}

#expressions-box
{
  /* float:left; */
  position:absolute;
  top:70%;
  left:10%;
}

#canvas-center
{
  /* float:left; */
  // width: 100%;
  // height: 70%;
  padding: 12px;
}

#geeoh-canvas
{
  // width: 90%;
  // height: 70%;
  padding: 0px;
}

#version
{
  font-size:small;
}